<!-- TEMPLATES -->
<div class="template-header text-center">
  <i class="fa fa-globe fa-5x fa-fw margin-bottom"></i>
  <br>
  <h1 class="text-center">TimeShares</h1>

  <div class="container text-center">
    <label class="col-lg-5 text-center">
      Search:
      <input ng-model='searchFilter' type="text" class="form-control">
    </label>
    <label class="col-lg-2 text-center">
      <button type="button" class="btn btn-success add-property" ui-sref="addProperty" ng-toggle="isCollapsed = !isCollapsed">
        <i class="fa fa-plus-circle fa-fw margin-bottom">
        </i>
        Add Property
      </button>
    </label>
    <label class="col-lg-5 text-center">
      Sort By:
      <input ng-model='sortOrder' type="text" class="form-control">
    </label>
  </div>

  <table class="table table-striped">
    <tbody>
      <tr >
        <td class="col-xs-1">
          <p ng-click='sortBy("index")'><b> # </b></p>
        </td>
        <td class="col-xs-1">
          <p ng-click='sortBy("address")'><b> Address </b></p>
        </td>
        <td class="col-xs-1">
          <p ng-click='sortBy("price")'><b> price </b> </p>
        </td>
        <td class="col-xs-1">
          <p ng-click='sortBy("rating")'> <b> rating </b></p>
        </td>
        <td class="text-center col-xs-2">
          <p ng-click='sortBy("offers")'><b>  Offers </b></p>
        </td>
        <td class="text-center col-xs-1">
          <p ng-click='sortBy("status")'><b>  Status </b></p>
        </td>
        <td class="text-center col-xs-2">
          <p ng-click='sortBy("edit-delete")'><b> <i class="fa fa-edit fa-fw margin-bottom"></i>  | <i class="fa fa-trash-o fa-fw margin-bottom"></i> </b></p>
        </td>
      </tr>
      <tr ng-repeat='property in properties | filter:searchFilter | orderBy:sortOrder track by $index'>
        <td class="col-xs-1">
          <p> {{ $index + 1}} </p>
        </td>
        <td class="col-xs-2">
          <p>  {{ property.address['region'] }} </p>

          <p>  {{ property.address['country'] }}, {{ property.address['city'] }} </p>

          <p>  {{ property.address['street'] }}  {{ property.address['state'] }} </p>

          <p>  {{ property.address['zip'] }}   </p>
        </td>
        <td class="col-xs-2">
          <p>  {{ property.listPrice | currency }}</p>
        </td>
        <td class="col-xs-2">
          <p>  {{ property.customerRating}}</p>
        </td>
        <td class="col-xs-2">
          <p>  {{ property.marketPrice}}</p>
        </td>
        <td class="col-xs-1">
          <p>  {{ property.status}}</p>
        </td>
        <td class="text-center col-xs-2">
          <button type="button" class="btn btn-primary" ng-click="editedProperty(property)" ng-toggle="isCollapsed = !isCollapsed">   <i class="fa fa-edit fa-fw margin-bottom"></i> </button> &nbsp  <button type="button" class="btn btn-danger" ng-click="deleteProperty(property._id)">   <i class="fa fa-trash-o fa-fw margin-bottom"></i> </button>
        </td>
      </tr>
      <tr>
        <hr>
        <!-- <div uib-collapse="isCollapsed" class="text-center">
        <div >
        <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="editCategory">
      </div>
      <div class="col-xs-6">
      <input type="text" style="font-size: 12px" class="form-control"  ng-model="editQuestion">
    </div>
    <div class="col-xs-2">
    <input type="text" class="form-control"  ng-model="editAnswer">
  </div>
  <div class="col-xs-2">
  <input type="text" class="form-control"  ng-model="editDifficulty">
</div>
</div>
<br>
<br>
<div>
<button type="button" class="btn btn-success" ng-click="isCollapsed = !isCollapsed; submitEdit()">Submit Changes</button>
&nbsp <button type="button" class="btn btn-danger" ng-click="isCollapsed = !isCollapsed; cancelChanges()">Cancel Changes</button>
</div>
</div> -->
</tr>
</tr>
</tbody>
<tfoot>
  <hr>
</tfoot>
</table>
</div>
